@font-face {
    font-family: 'CarlsonAntique';
    src: url('caslonantique-webfont.woff2') format('woff2'),
         url('caslonantique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}